<button type="button" class="btn">Create Asset</button>
<br /> <br />

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>All Transactions</h2>
        <p>This is the list of all the transactions</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date, Time</th>
                    <th>Entry Type</th>
                    <th>Participant</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2018-02-14, 21:51:27</td>
                    <td>ActivateCurrentIdentity</td>
                    <td>john</td>
                </tr>
                <tr>
                    <td>2018-02-14, 21:51:20</td>
                    <td>StartBusinessNetwork</td>
                    <td>mary</td>
                </tr>
                <tr>
                    <td>2018-02-14, 21:51:20</td>
                    <td>IssueIdentity</td>
                    <td>july</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

<br /> <br />
       <body>

           <div class="container">
               <h2>Search Asset</h2>
               <div class="col-lg-6">
                   <div class="input-group">
                       <input type="text" class="form-control" placeholder="Search for...">
                       <span class="input-group-btn">
                           <button class="btn btn-default " type="button">Go!</button>
                       </span>
                   </div><!-- /input-group -->
               </div><!-- /.col-lg-6 -->
           </div>
          

       </body>