<h1>Assets Registry</h1>
<p>Registry for adding and viewing Assets</p>

<table class="table" *ngIf="assets">
    <thead>
        <tr>
            <th>Class</th>
            <th>ID</th>
            <th>Owner</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let asset of assets">
            <td> {{ asset.class }} </td>
            <td> {{ asset.assetId }} </td>
            <td> {{ asset.owner }} </td>
            <td> {{ asset.value }} </td>
        </tr>
    </tbody>
</table>