<h1>Assets Registry</h1>
<p>Registry for adding and viewing Assets</p>
<br />

    <button (click)="createAsset()">Create an Asset</button>

<br/><br />



<br/><br/>
<table class="table" *ngIf="assets">
    <thead>
    <tr>
        <th>Class</th>
        <th>ID</th>
        <th>Owner</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let asset of assets">
        <td> {{ asset.class }} </td>
        <td> {{ asset.assetId }} </td>
        <td> {{ asset.owner }} </td>
        <td> {{ asset.value }} </td>
    </tr>
    <tr>
        <td> {{ class }} </td>
        <td> {{ id }} </td>
        <td> {{ owner }} </td>
        <td> {{ value }} </td>
    </tr>
    </tbody>

</table>

<!-- button for inputting search -->
<h2>Search Asset</h2>
<div class="col-lg-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default " type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<br/><br/><br/>


<input #newAsset
       (keyup.enter)="addAsset(newAsset.value)"
       (blur)="addAsset(newAsset.value); newAsset.value='' ">

<button (click)="addAsset(newAsset.value)">Add</button>

<ul><li *ngFor="let asset of asset">{{asset}}</li></ul>
