<h1> Participants Registry</h1>


<input type="button" value="+ Add Participant" ng-click="showinput()"/>
<table class="table" *ngIf="participants">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>FirstName</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let participant of participants">
            <td> {{ participant.class }}</td>
            <td> {{ participant.participantId }} </td>
            <td> {{ participant.firstName }} </td>
        </tr>
    </tbody>
</table>