<h1>Transaction History</h1>

<button type="button" class="btn">Create Asset</button>
<br/>
<br/>

<p>This is a list of all the transactions</p>

<table class="table" *ngIf="transactions">
    <thead>
        <tr>
            <th>Date, Time</th>
            <th>Entry Type</th>
            <th>Participant</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.getDate }}</td>
            <td>{{ transaction.entry }}</td>
            <td>{{ transaction.firstName }}</td>
        </tr>
    </tbody>
</table>

<br/>
<br/>

<!-- button for inputting search -->
 <h2>Search Asset</h2>
 <div class="col-lg-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default " type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

          
