agm-map {
  position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
			height :100%;
			width: 100%;
}

.div-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.map-wrapper {
	position: relative;
	height: calc(100vh - 4em);
}
