﻿<h1>Transactions</h1>

<p>Lists the transactions</p>


<table class='table'>
    <thead>
        <tr>
            <th>Class</th>
            <th>Package</th>
            <th>Handler Involved</th>
            <th>Ingress</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Transaction ID</th>
            <th>Time Stamp </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transfers">
            <td>{{ transaction.$class }}</td>
            <td>{{ transaction.package.substr(36) }}</td>
            <td>{{ transaction.handler.substr(35) }}</td>
            <td>{{ transaction.ingress }}</td>
            <td>{{ transaction.latitude }}</td>
            <td>{{ transaction.longitude }}</td>
            <td>{{ transaction.transactionId }}</td>
            <td>{{ transaction.timestamp }}</td>
        </tr>
    </tbody>
</table>


<div class="container-fluid">
    <input #transactionId
           (keyup.enter)="searchTransfers(transactionId.value)">

    <button type="button" class="btn btn-primary" (click)="searchTransfers(transactionId.value)">Search Transaction ID</button>
</div>

<h2>Search Result</h2>
<table class='table' *ngIf="searchResult">
    <thead>
        <tr>
            <th> Date</th>
            <th> Entry Type</th>
            <th> Participant</th>
            <th> Value</th>
            <th> Transaction ID </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="date">{{ searchResult.$class }}</td>
            <td id="entry">{{ searchResult.property}}</td>
            <td id="participant">{{ searchResult.newOwner}}</td>
            <td id="value">{{ searchResult.transactionId}}</td>
            <td id="transactionId">{{ searchResult.timestamp}}</td>
        </tr>
    </tbody>
</table>